<div class="container">

<h1 role="heading">Create Tier List</h1>

<%= render 'form', tier_list: @tier_list %>
<br>
<button type="button" class="btn btn-primary"><b><%= link_to 'Back', tier_lists_path, class:"nav-link" %></b></button>
</div>