<body style="background-color:aquamarine;">
<div class="container">
<h1>New Item</h1>

<%= render 'form', item: @item %>
<br>
<button type="button" class="btn btn-primary"><%= link_to 'Back', items_path, class:"nav-link" %></button>
</div>
</body>